<app-load *ngIf="loading"></app-load>

<div class="card-columns mt-5 mb-5">
  <div *ngFor="let releas of releases" class="card border-success bg-dark mt-2">
    <img [src]="releas.image" class="card-img-top" [alt]="releas.name">

    <div class="card-body">
      <h3 class="card-title text-success">{{ releas.name }}</h3>

      <a
        *ngFor="let artist of releas.artists"
        [routerLink]="['/artist-detail', artist.id]"
        class="badge-spotify badge-spotify-default mr-2 puntero">
        {{ artist.name }}
      </a>
    </div>
  </div>
</div>
