<div class="row justify-content-md-center">
  <div class="col-md-1">
    <h1>Pipes</h1>
  </div>

  <div class="col-md-1 mt-3 text-right">
    <small>Angular</small>
  </div>
</div>
<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Valor</th>
      <th scope="col">Pipe</th>
      <th scope="col">Salida</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ name }}</td>
      <td>uppercase</td>
      <td>{{ name | uppercase }}</td>
    </tr>

    <tr>
      <td>{{ name }}</td>
      <td>lowercase</td>
      <td>{{ name | lowercase }}</td>
    </tr>

    <tr>
      <td>{{ name }}</td>
      <td>slice:2</td>
      <td>{{ name | slice:2 }}</td>
    </tr>

    <tr>
      <td>{{ array }}</td>
      <td>slice:1:3</td>
      <td>{{ array | slice:1:3 }}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td>number</td>
      <td>{{ PI | number }}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td>number:'1.0-0'</td>
      <td>{{ PI | number:'1.0-0' }}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td>number:'.0-2'</td>
      <td>{{ PI | number:'.0-2' }}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td>number:'003.0-2'</td>
      <td>{{ PI | number:'003.0-2' }}</td>
    </tr>

    <tr>
      <td>{{ percent }}</td>
      <td>percent</td>
      <td>{{ percent | percent }}</td>
    </tr>

    <tr>
      <td>{{ percent }}</td>
      <td>percent:'2.2-2'</td>
      <td>{{ percent | percent:'2.2-2' }}</td>
    </tr>

    <tr>
      <td>{{ percent }}</td>
      <td>currency</td>
      <td>{{ percent | currency }}</td>
    </tr>

    <tr>
      <td>{{ percent }}</td>
      <td>currency:'EUR'</td>
      <td>{{ percent | currency:'EUR' }}</td>
    </tr>

    <tr>
      <td>{{ percent }}</td>
      <td>currency:'EUR':'symbol':'.0-0'</td>
      <td>{{ percent | currency:'EUR':'symbol':'.0-0' }}</td>
    </tr>

    <tr>
      <td>{{ hero }}</td>
      <td>json</td>
      <td>
        <pre>
          {{ hero | json }}
        </pre>
      </td>
    </tr>

    <tr>
      <td>{{ promise }}</td>
      <td>async</td>
      <td>
        {{ promise | async }}
      </td>
    </tr>

    <tr>
      <td>{{ date }}</td>
      <td>date</td>
      <td>
        {{ date | date }}
      </td>
    </tr>

    <tr>
      <td>{{ date }}</td>
      <td>date:'medium'</td>
      <td>
        {{ date | date:'medium' }}
      </td>
    </tr>

    <tr>
      <td>{{ date }}</td>
      <td>date</td>
      <td>
        {{ date | date:'short' }}
      </td>
    </tr>

    <tr>
      <td>{{ date }}</td>
      <td>
        'd/MMMM/yyyy hh:mm:ss a':'':
        <button class="btn btn-outline-dark" (click)="language = 'en'">
          en
        </button>

        <button class="btn btn-outline-primary m-1" (click)="language = 'es'">
          es
        </button>

        <button class="btn btn-outline-success ml-1" (click)="language = 'fr'">
          fr
        </button>
      </td>

      <td>
        {{ date | date:'d/MMMM/yyyy hh:mm:ss a':'':language }}
      </td>
    </tr>

    <tr>
      <td>{{ myName }}</td>
      <td>capitalize(pipe personal)</td>
      <td>
        {{ myName | capitalize:true }}
      </td>
    </tr>

    <tr>
      <td>{{ myName }}</td>
      <td>
        password(pipe personal): 
        <button 
          class="btn btn-outline-info"
          (click)="showPassword = !showPassword"
        >
          Mostrar
        </button>
      </td>
      <td>
        {{ myName | password:showPassword }}
      </td>
    </tr>
  </tbody>
</table>

<h3>securityDom(pipe personal)</h3>
<iframe 
  width="560" 
  height="315" 
  [src]="videoUrl | securityDom" 
  frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen
></iframe>